/.venv/
/.terraform/
__pycache__/
/terraform/**/*.tf.json
/terraform/cloudfront/package.zip
# Local environment configuration
/deployments/.active
/deployments/*/*.local/
!/deployments/.example.local/
/environment.local.py
/deployments/*/*/environment.local.py
/deployments/*/*/.terraform/
/deployments/*/*/.terraform.*/
